.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  align-items: center;
  text-align: center;
}
.product{
  border: 1px solid blue;
}
.product img{
  max-width: 85px;
  max-height: 85px;
}